 .navbar-brand{
    padding-left: 10;
 }

 body{
   width: 400vw;
 }
 
 ::-webkit-scrollbar{
   width: 20px;
 }
 
 ::-webkit-scrollbar-track{
   background: white;
 }

 ::-webkit-scrollbar-thumb{
   background: red;
 }


.parallax-text::after{
  content: attr(text);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  color: transparent;
  -webkit-text-stroke: 0.15vw black;
}

img{
  width: 50vw;
  animation: ballAnimation 2s cubic-bezier (0.25, 1, 0.5, 1) infinite alternate;
}

@keyframes ballAnimation{
  0%, 10% {
    transform: translate(100vw, 0) rotate(15deg);
  }
  90%, 100% {
    transform: translate(-5vw, -5vw) rotate(-30deg);
  } 
}